<span id="loginStatus" style="visibility:visible; position:absolute; color:rgba(0,0,0,0)"><= loginStatus ></span>

<div class="booking-imgcover">

<%- include('./_client_header2') %>



<div class="booking-container">

<h2 class="page-header">Your Tour Booking:</h2><br>

<table>
	<tr><td>Tour type:</td><td class="yd"><%= tour.tourType %></td></tr> 
	<tr><td>Tour start date:</td><td class="yd"><%= tour.startDate.toDateString() %></td></tr>
	<tr><td>Tour language:</td><td class="yd"><%= tour.language %></td></tr>
</table>

<br>
<form action="/tour-configuration" method="POST" onchange="check()">

<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" placeholder="your name" value="<%= customer.name %>">
  </div>
  <div class="form-item">
    <label>Email</label>
    <input type="text" name="email" placeholder="your email" value="<%= customer.email %>">
  </div>
</div>
<br>

<p class="banksign"><input type="checkbox" id="bank">  I agree with terms and PAYED the tour.</p>
<br>

<input type="text" value="<%= tour.id %>" name="tourid" style="visibility: hidden">

  <div class="form-row form-row-end btn-row">
    <a class="book-cancel" href="/tour-configuration">cancel</a>
    <button class="btn btn-primary" type="submit" id="sbmt" disabled>submit</button>
  </div>

</form>

</div>

</div>
<footer class="foot">
  <div>© 2020, ChernobyLive | bb018 sk </div>
</footer>

<script>
function check() {
  if (document.getElementById("bank").checked == true) {
    document.getElementById("sbmt").disabled = false;
  } else {
    document.getElementById("sbmt").disabled = true;
  }
}
</script>

<script>
  var loginStatus = document.getElementById("loginStatus").innerText;
  if (loginStatus != "") {
    document.getElementById("login-container").style.visibility = "hidden";
    document.getElementById("cab-container").style.visibility = "visible";
  } else {
    document.getElementById("login-container").style.visibility = "visible";
    document.getElementById("cab-container").style.visibility = "hidden";
  }
</script>
