<span id="loginStatus" style="visibility:visible; position:absolute; color:rgba(0,0,0,0)"><%= loginStatus %></span>

<%- include('./_client_header') %>

<div class="cli-main-container">

<h1 class="cli-main-title">Your Booked Tours:</h1>

<table class="cli-table">
  <thead><tr>
    <th>Tour type</th><th>Start Date</th><th>Language</th><th></th><th></th>
  </tr></thead>
  <tbody>
  <% if (customersTours.length > 0) { %>
    <% customersTours.forEach(tour => { %>
      <tr>
        <td>
          <div class="author-name"><%= tour.tourType %></div>
        </td>
        <td>
          <div class="author-name"><%= tour.startDate.toDateString() %></div>
        </td>
        <td>
          <div class="author-name"><%= tour.language %></div>
        </td>
        <td>
          <a class="onlinetour-btn" href="/videotours/<%= tour.id %>">View online tour</a>
        </td>
        <td>
          <span id="actual-msg">the virtual tour is not available yet.</span>
        </td>
      </tr>
    <% }) %>
  <% } else { %>
    <div>EMPTY.</div>
  <% } %>
  </tbody>
</table>

</div>

<footer>
  <div>© 2020, ChernobyLive | bb018 sk </div>
</footer>

<script>
  var loginStatus = document.getElementById("loginStatus").innerText;
  if (loginStatus != "") {
    document.getElementById("login-container").style.visibility = "hidden";
    document.getElementById("cab-container").style.visibility = "visible";
  } else {
    document.getElementById("login-container").style.visibility = "visible";
    document.getElementById("cab-container").style.visibility = "hidden";
  }
</script>