<%- include('../_admin_header_common_common3') %>

<div class="adm-containerooo">

<h2 class="adm-title">edit Guide <i><%= guide.id %></i></h2>

<form action="/admin/guides/<%= guide.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row marg30">
    <a class="btn-cancel" href="/admin/guides/<%= guide.id %>">Cancel</a>
    <button class="btn-add2" type="submit">Update</button>
  </div>
</form>

</div>

<footer>
  <div>© 2020, ChernobyLive | bb018 sk </div>
</footer>